<header class="px-6 py-3 flex justify-center bg-theme-blue shadow-md sticky top-0 z-50">
    <h3 class="font-semibold tracking-wider text-white">
        <i class="fa-brands fa-docker"></i>
        Sample Docker Registry
    </h3>
</header>
<div class="w-full">
    <ng-container *ngIf="isApiV2; else versionErrorTemplate">
        <main class="px-6 pt-5 duration-500">
            <router-outlet></router-outlet>
        </main>
    </ng-container>
    <ng-template #versionErrorTemplate>
        Version Error...
    </ng-template>
</div>
<footer></footer>