<div class="flex justify-center px-40">
    <div class="flex flex-col space-y-3 mx-auto w-full">
        <div *ngFor="let image of images">
            <button (click)="showingImg = (showingImg == image ? '' : image)"
                class="flex justify-start px-5 py-3 border border-gray-500 bg-white rounded-sm w-full hover:bg-slate-100 active:bg-slate-200">
                <img src="./assets/open-box.png" class="h-10 w-10" />
                <span class="my-auto ml-5 font-semibold">{{image}}</span>
            </button>
            <div [ngClass]="{'hidden': showingImg != image}" class="bg-white px-3 py-5 w-full flex justify-evenly space-x-2">
                <div class="bg-slate-700 rounded-sm px-3 py-2 my-auto flex justify-between w-full">
                    <pre class="text-white">docker pull {{image}}</pre>
                    <button class="text-white transition delay-150 duration-300 ease-in-out hover:scale-125"><i class="fa-solid fa-copy"></i></button>
                </div>
                <button
                    class="px-3 py-2 bg-theme-blue text-white my-auto hover:bg-theme-blue-dark active:bg-theme-blue-darker">Tags</button>
            </div>
        </div>
    </div>
</div>